In [1]:
aguaRasa = 5578
print("Numero de matriculados no distrito de Agua rasa:")
print(aguaRasa)

Numero de matriculados no distrito de Agua rasa:
5578

In [2]:
aRasa = 5578
aPinheiros = 434
anhanguera = 8813
total = aRasa + aPinheiros + anhanguera
print(total)

14825

In [3]:
import pandas as pd
import io

In [4]:
df = pd.read_csv('idadeserieneeracadez17.csv' , 
        sep = ";", encoding = 'latin-1', header = 0, error_bad_lines=False, usecols = ['DESCSERIE', 'SEXO' , 'QTDE'])
df

              DESCSERIE SEXO  QTDE
0       CLUBE MATEMATIC    F     1
1       CLUBE MATEMATIC    F     1
2       CLUBE MATEMATIC    F     3
3       CLUBE MATEMATIC    F     1
4       CLUBE MATEMATIC    M     1
5       CLUBE MATEMATIC    M     1
6       FLAUTA             F     1
7       FLAUTA             F     1
8       FLAUTA             F     1
9       FLAUTA             F     1
10      FLAUTA             M     1
11      FLAUTA             M     1
12      FLAUTA             M     2
13      FLAUTA             M     1
14      FLAUTA             M     1
15      FLAUTA             M     1
16      JOGOS EDUCATIVO    F     4
17      JOGOS EDUCATIVO    F     2
18      JOGOS EDUCATIVO    F     2
19      JOGOS EDUCATIVO    F     2
20      JOGOS EDUCATIVO    F     4
21      JOGOS EDUCATIVO    F     6
22      JOGOS EDUCATIVO    F    10
23      JOGOS EDUCATIVO    F     2
24      JOGOS EDUCATIVO    M     6
25      JOGOS EDUCATIVO    M     2
26      JOGOS EDUCATIVO    M     4
27      JOGOS EDUCATIVO    M     2
28      JOGOS EDUCATIVO    M     2
29      JOGOS EDUCATIVO    M     2
...                 ...  ...   ...
346831  FUT FUTSAL MASC    M     2
346832  FUT FUTSAL MASC    M     3
346833  FUT FUTSAL MASC    M     1
346834  FUT FUTSAL MASC    F     1
346835  FUT FUTSAL MASC    F     1
346836  FUT FUTSAL MASC    F     1
346837  FUT FUTSAL MASC    M     1
346838  FUT FUTSAL MASC    M     1
346839  FUT FUTSAL MASC    M     2
346840  FUT FUTSAL MASC    M     6
346841  FUT FUTSAL MASC    M     1
346842  FUT FUTSAL MASC    M     3
346843  FUT FUTSAL MASC    M     3
346844  FUT FUTSAL MASC    M     1
346845  FUT FUTSAL MASC    M     2
346846  FUT FUTSAL MASC    M     9
346847  FUT FUTSAL MASC    M     3
346848  FUT FUTSAL MASC    M     3
346849  FUT FUTSAL MASC    M     6
346850  FUT FUTSAL MASC    M     1
346851  FUT FUTSAL MASC    M     4
346852  FUT FUTSAL MASC    M     1
346853  HIP HOP            F     1
346854  HIP HOP            F     1
346855  HIP HOP            F     1
346856  HIP HOP            M     1
346857  HIP HOP            M     1
346858  MUSICALIZACAO      F     1
346859  MUSICALIZACAO      F     1
346860  MUSICALIZACAO      F     1

[346861 rows x 3 columns]

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.axes

[RangeIndex(start=0, stop=346861, step=1),
 Index(['DESCSERIE', 'SEXO', 'QTDE'], dtype='object')]

In [26]:
mathClub = df[df["DESCSERIE"]=='CLUBE MATEMATIC'].sum()["QTDE"]
mathClub

2963

In [48]:
pivotSexo = df.pivot_table(index = 'DESCSERIE', columns = 'SEXO', aggfunc=sum)
print(pivotSexo)

                    QTDE
SEXO                   F        M
DESCSERIE
 INF II ESP FI      11.0     24.0
1A.C.NORMAL         42.0      4.0
1A.SER.E.M.        522.0    566.0
1ª EJA MODULAR     233.0    167.0
2A.C.NORMAL         27.0      NaN
2A.SER.E.M.        585.0    533.0
2ª EJA MODULAR     388.0    205.0
3A.C.NORMAL         24.0      1.0
3A.SER E.M         519.0    500.0
3ª EJA MODULAR     781.0    581.0
4A.C.NORMAL         25.0      3.0
4ª EJA MODULAR    1118.0    972.0
AC EST LETRAS     1391.0    629.0
ACOLHIMENTO PRO      8.0      6.0
ACOMP PED ORIEN     86.0     91.0
ACOMP PEDAG POR   2594.0   3220.0
ACOMP_CLUBE DA    1421.0   1136.0
ALFABETIZACAO      332.0    420.0
ALIMENTACAO         29.0     15.0
ALONGAMENTO       1910.0    162.0
ALUNO MONITOR      819.0    763.0
ALUNO MONITOR D     19.0     11.0
ALUNO MONITOR L    315.0    200.0
ART CEN            224.0    143.0
ART CEN  - CONT    122.0      9.0
ART CEN -  VOCA    104.0     69.0
ART CEN - ACROB     17.0     13.0
ART CEN - AEL      663.0    370.0
ART CEN - AFROM    194.0     45.0
ART CEN - BALLE   1949.0    312.0
...                  ...      ...
REC PAR MAT M E   3966.0   4989.0
REC PAR MATEMAT   9155.0  13251.0
REC PAR PORTUGU  16598.0  27009.0
REC PAR- PORT M   1640.0   1982.0
RECICLAGEM         160.0    134.0
REFORCO HIST E      13.0     11.0
REL / ETNICO RA     14.0     14.0
ROBOTICA           454.0    724.0
ROBOTICA MAIS E    313.0    536.0
SAAI BILINGUE E      6.0     12.0
SAAI COMPLEMENT   2437.0   4398.0
SARAU               43.0     26.0
SAXOFONE - PR G     29.0     71.0
SEQ I - PR GURI    143.0    113.0
SEQ II - PR GUR     46.0     40.0
TECN INF COM       440.0    472.0
TECN INF COM M     185.0    228.0
TEORIA - PR GUR    364.0    379.0
TEORIA MUSICAL     104.0    112.0
TIC ONDAS RADIO    596.0    458.0
TROMBONE - PR G     20.0     38.0
TROMPA - PR GUR     11.0      9.0
TROMPETE - PR G     20.0     53.0
VIDEO  M ED        115.0     93.0
VIOLAO             720.0    550.0
VIOLAO - PR GUR    294.0    263.0
VIOLINO/VIOLA P    233.0    161.0
VIOLONCELO PR G     85.0     68.0
VIVENCIA EM LIB     79.0     78.0
YOGA               635.0    175.0

[326 rows x 2 columns]

In [49]:
mathClubSexo = pivotSexo.loc['CLUBE MATEMATIC']
print(mathClubSexo)

      SEXO
QTDE  F       1362.0
      M       1601.0
Name: CLUBE MATEMATIC, dtype: float64

In [66]:
yogaSexo = pivotSexo.loc['VIOLINO/VIOLA P']
print(yogaSexo)

      SEXO
QTDE  F       233.0
      M       161.0
Name: VIOLINO/VIOLA P, dtype: float64